.app{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.head{
  font-size: 8vh;
  display: block;
  font-weight: bold;
}

.para{
   margin-top: 10%;
     color: #808080;
}

.inner {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}


.form-content{
  width: 500px;
  height: 550px;
  -webkit-box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.57);
   box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.57);
  border-radius: 4px;

    @media screen (max-width: 600px) {
      width: 350px;
      height: 300px;
    }
}

.left-content{
  width: 500px;
  height: 450px;
  margin-top: 25%;
  
  @media screen (max-width: 600px) {
      width: 350px;
      height: 300px;
    }
}

.signup{
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  
}

.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}